#define LED_STRIP_AMOUNT 8
#define LED_PINS {2, 3, 4, 5, 6, 7, 8}

#define LED_PER_STRIP 32 * 8
#define LED_CONFIGURATION (WS2811_GRB | WS2811_800kHz)

#define CURRENT_SENSOR_1_ADDRESS NULL
#define CURRENT_SENSOR_2_ADDRESS NULL
#define CURRENT_SENSOR_3_ADDRESS NULL

#define TEMPERATURE_SENSOR_TOP_ADDRESS {}
#define TEMPERATURE_SENSOR_CENTER_ADDRESS {}
#define TEMPERATURE_SENSOR_BOTTOM_ADDRESS {}